.box {
  position: relative;
  width: 270px;
  height: 320px;
  display: flex;
  justify-content: center;
  margin: 15px 37px;
  transition: 0.5s;
}
.box::before {
  content: " ";
  position: absolute;
  top: 100px;
  left: 50px;
  width: 60%;
  height: 40%;
  text-decoration: none;
  background: #000000;
  border-radius: 8px;
  transition: 0.5s;
}
.box::after {
  content: "";
  position: absolute;
  top: 80px;
  left: 50px;
  width: 60%;
  height: 40%;
  background: hsl(0, 0%, 0%);
  border-radius: 8px;
  transition: 0.5s;
}
.box:hover:before {
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 100px);
}

.box:hover:after {
  border-radius: 80px;
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 100px);
}

.box:nth-child(1):before,
.box:nth-child(1):after {
  background-color: rgb(68, 6, 139, 0.5);
}

.box:nth-child(2):before,
.box:nth-child(2):after {
  background-color: rgba(68, 6, 139, 0.5);
}

.box:nth-child(3):before,
.box:nth-child(3):after {
  background-color: rgba(68, 6, 139, 0.5);
}

.box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.box span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 80px;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
  transition: 0.1s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.box:hover span::before {
  top: -17px;
  left: -68px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.box span::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 80px;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  animation-delay: -1s;
}

.box:hover span:after {
  bottom: -10px;
  right: -30px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(10px);
  }

  50% {
    transform: translate(-10px);
  }
}

.box .content {
  position: relative;
  left: 0;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.box:hover .content {
  left: -25px;
  padding: 60px 40px;
}

.box .content h2 {
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 10px;
}

.box .content p {
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
  text-align: justify;
}

.box .content h2,
.box .content p {
  transition: 0.5s;
}

.box:hover .content {
  left: -25px;
  padding: 25px 25px;
  opacity: 1; /* Make the content visible */
}

.box:hover .content h2 {
  opacity: 1; /* Hide h2 when box is hovered */
}

.ue-card-date h5 {
  font-size: 42px;
  line-height: 45px;
}
.ue-card-date h6 {
  font-size: 22px;
}
.ue-card-date {
  font-size: 22px;
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
