@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");

#upcoming-events {
  background-color: #040115;
  /* background-image: url("./upcomingevents_bg.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.upcoming-events-head {
  color: #fff;
  font-size: 62px;
  text-align: center;
  font-family: font2, sans-serif;
  padding-top: 4rem;
  text-shadow: 0 0 0.2rem #e093fd;
  animation: floatAnimation 5s ease infinite;
}

.ue-container {
  width: 80%;
  border: #fff 2px solid;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}
.ue-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.card {
  height: 160px;
  width: 700px;
  /* margin-left: 200px; */
  /* margin-bottom: 200px; */
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: #fff;
  margin-left: 10%;
}
.ue-bottom-content {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

.ue-bottom-content a {
  margin-right: 4%;
  font-size: 24px;
  text-decoration: none;
  color: white;
}
