@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");

#upcoming-events {
  background-color: #040115;
  background-image: url("./upcomingevents_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
}

.upcoming-events-head {
  color: #fff;
  font-size: 50px;
  text-align: center;
  font-family: "Saira Stencil One", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: -55%;
}

.container .box {
  position: relative;
  width: 270px;
  height: 320px;
  display: flex;
  justify-content: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.container .box::before {
  content: " ";
  position: absolute;
  top: 100px;
  left: 50px;
  width: 60%;
  height: 40%;
  text-decoration: none;
  background: #000000;
  border-radius: 8px;
  transition: 0.5s;
}

.container .box::after {
  content: "";
  position: absolute;
  top: 80px;
  left: 50px;
  width: 60%;
  height: 40%;
  background: hsl(0, 0%, 0%);
  border-radius: 8px;
  transition: 0.5s;
}

.container .box:hover:before {
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 100px);
}

.container .box:hover:after {
  border-radius: 80px;
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 100px);
}

.container .box:nth-child(1):before,
.container .box:nth-child(1):after {
  background-color: rgb(68, 6, 139, 0.5);
}

.container .box:nth-child(2):before,
.container .box:nth-child(2):after {
  background-color: rgba(68, 6, 139, 0.5);
}

.container .box:nth-child(3):before,
.container .box:nth-child(3):after {
  background-color: rgba(68, 6, 139, 0.5);
}

.container .box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.container .box span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 80px;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
  transition: 0.1s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.container .box:hover span::before {
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.container .box span::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 80px;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  animation-delay: -1s;
}

.container .box:hover span:after {
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(10px);
  }

  50% {
    transform: translate(-10px);
  }
}

.container .box .content {
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
}

.container .box:hover .content {
  left: -25px;
  padding: 60px 40px;
}

.container .box .content h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.container .box .content p {
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.card {
  height: 160px;
  width: 700px;
  margin-left: 200px;
  margin-bottom: 200px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: #fff;
}

.container .box .content h2,
.container .box .content p {
  transition: 0.5s;
}

.container .box:hover .content {
  left: -25px;
  padding: 60px 40px;
  opacity: 1; /* Make the content visible */
}

.container .box:hover .content h2 {
  opacity: 0; /* Hide h2 when box is hovered */
}
