.gallery{
  background-color: #030004;
}

@media (max-width: 928px) {
  .card {
    width: 295px;
    height: 153px;
    /* padding-top: 0px; */

  }
  .cardContainer{
    margin-top: -400px;
    margin-left: -30px;
  }
}
