#home {
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #030014;
  z-index: -2;
}
#bg-asset {
  /* position: absolute; */
  top: 0%;
  left: 0%;
  width: 100%;
  height: auto;
  /* margin-top: 37%; */
  mix-blend-mode: exclusion;
  z-index: 2;
}
.starfield {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
  top: 6%;
}
.landing-section1 {
  position: absolute;
  top: -10%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing-ieee-logo{
  width: 60%;
  height: 60%;
  z-index: 5;
  
}
.particle{
  width: 100% !important;
  overflow: hidden !important;
}
@media screen and (max-width:512px) {
  .landing-section1{
    top: 10rem;
    left: 2rem;
  }
  .landing-section1 img{
    width: 80%;
  }
  #bg-asset{
    width: 200vw;
    object-fit: contain;
  }
  .starfield{
    left: 1.5%;
    top: 5%;
  }
}