#testimonial {
  background-color: var(--color1);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0rem;
  height: 100vh;
  overflow: hidden;
}
#tbg {
  position: absolute;
  width: 80%;
  z-index: 0;
  top: -4px;
  mix-blend-mode: exclusion;
}
.testimonials-heading {
  color: #fff;
  font-size: 62px;
  text-align: center;
  font-family: font2, sans-serif;
  padding-top: 4rem;
  text-shadow: 0 0 0.2rem #e093fd;
  animation: floatAnimation 5s ease infinite;
  z-index: 1;
  margin-bottom: 5rem;
}

.test-content {
  height: 60vh;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: 1px solid #313131;
  background: rgba(21, 9, 92, 0.7);
  color: white;
  backdrop-filter: blur(2px);
  z-index: 1;
  position: relative;
  box-shadow: 0 0 20px 5px rgba(94, 74, 206, 0.5); /* Adjust the color and blur radius */
  outline: 1px solid rgba(56, 56, 139, 0.5);
  padding: 2rem;
}
.slick-dots li.slick-active button:before {
  color: #e2e3ec !important;
}
.slick-dots li button:before {
  color: rgb(173, 69, 233) !important;
}
.slick-slider {
  width: 1000px;
}
.slick-prev:before,
.slick-next:before {
  font-size: 32px !important;
}
.slick-next {
  right: -45px !important;
}
.slick-prev {
  left: -45px !important;
}

.tcar-card {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.tcar-card img {
  width: 32%;
  border-radius: 25px;
}
.tcar-card div {
  display: flex;
  flex-direction: column;
}
.tcar-card div h3 {
  font-size: 24px;
}
.tcar-card p {
  width: 100%;
  font-size: 18px !important;
  text-align: justify;
}
.tcar-socials{
  display: flex;
  flex-direction: row !important;
  gap: 1rem;
  align-items: center;
}
.tcar-socials a{
  color: white;
  font-size: 1.3rem;
  z-index: 2;
}
.t-assets {
  border-radius: 100%;
}

@keyframes t-asset-animation {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@media (max-width: 1400px) {
  .slick-next {
    right: 25px !important;
  }
  .slick-prev {
    left: 5px !important;
  }
  .slick-slider{
    padding: 4rem 4rem 4rem 0rem !important;
  }
}

@media (max-width: 1250px) {
  .slick-next {
    right: 85px !important;
  }
  .slick-prev {
    left: 55px !important;
  }
  .slick-slider{
    padding: 3rem 10rem 3rem 4rem !important;
  }
  .slick-dots{
    width: 80% !important;
  }
}

@media (max-width: 980px) {
  .test-content {
    height: 850px;
  }
  .slick-slider{
    padding: 0 !important;
  }
  .tcar-card{
    flex-direction: column;
  }
  .tcar-card img{
    width: 30%;
  }
  .test-content div{
    width: 100%;
  }
}

@media (max-width: 740px) {
  .test-content {
    height: 850px;
  }

  .test-para {
    font-size: 25px;
  }
}

@media (max-width: 560px) {
  .test-content {
    height: 780px;
  }
  
  .test-para {
    font-size: 20px;
  }
  
  .test-pic {
    margin: 15px 5px;
  }
}

@media (max-width: 425px) {
  .testimonials-heading{
    font-size: 28px;
  }
  .tcar-card img{
    width: 70%;
  }
  .tcar-card p{
    width: 100%;
    font-size: 12px !important;
  }
  .tcar-card{
    gap: 1rem;
  }
  .test-content{
    height: auto;
    padding: 1rem;
  }
  .tcar-card div h3{
    font-size: 16px;
    margin-top: 1rem;
  }
  .tcar-socials a{
    font-size: 1rem;
  }
  .slick-prev, .slick-next{
    top: 130% !important;
  }
  .slick-prev{
    left: -10% !important;
  }
  .slick-next{
    right: -10% !important;
  }
  .slick-dots{
    top: 127%;
    left: 10%;
  }
  #tbg{
    width: 200%;
  }
}