@font-face {
  font-family: font1;
  src: url(./fonts/Candu-GODPO.otf);
}
@font-face {
  font-family: font2;
  src: url(./fonts/RadeilDemoRegular-ALnO7.otf);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  --color1: #030014;
  --font1: font1;
  --font2: font2;
}

/* For WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background: #281f9b; /* Color of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #1b37b6; /* Color of the thumb on hover */
}
